<div id="ARUIainNnztyu_gF" class="content active">
  <h1 data-path="/docs/getting-started~getting-started">Getting Started</h1>
<p>Now that you understand what Documate is and does, let's learn how it's done.</p>
<h2 data-path="/docs/getting-started~installation-cli">Installation (CLI)</h2>
<p>Since we will be dealing with simple commands like <code>init</code>, <code>serve</code> and <code>build</code>, we need a CLI tool. So with Node installed, simple run:</p>
<pre><code class="bash language-bash">$ npm install -g documate # Using npm

$ yarn add --global documate # or with Yarn
</code></pre>
<h2 data-path="/docs/getting-started~creating-your-first-documate-project">Creating your first Documate project</h2>
<p>Now that you have Documate CLI installed, simple run the following commands in the root directory of your project:</p>
<pre><code class="bash language-bash">$ documate init # To initialize a basic/empty project

$ documate start # To serve your docs
</code></pre>
<p>After you serve your docs, head over to <code>localhost:3000</code> to view the site.</p>
<h2 data-path="/docs/getting-started~building-your-documate-project">Building your Documate project</h2>
<p>Run the following command to build your docs:</p>
<pre><code class="bash language-bash">$ documate build
</code></pre>
  <span hidden="true" class="highlight-langs" data-src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></span>
<span hidden="true" class="highlight-langs" data-src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></span>
<span hidden="true" class="highlight-langs" data-src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></span>
</div>
