<div id="qjLI17I_FPFTyvtn" class="content active">
  <h1 data-path="/welcome~welcome-to-documate">Welcome to Documate</h1>
<p>Hi, and welcome to Documate, the tool that'll make creating sites for your projects docs a lot easier.</p>
<h2 data-path="/welcome~getting-started">Getting started</h2>
<p>Start by editing this file in <code>./documate/welcome.md</code> in your project's root directory. Control your site routes from <code>./documate/nav.md</code>.</p>
<h2 data-path="/welcome~learn-more">Learn more...</h2>
<p>For more info on getting started, visit our <a href="http://documate.github.io">docs</a> that's been built with Documate too.</p>
<p>Enjoy writing docs with documate. Made with ❤ by <a href="https://twitter.com/bukharim96">@bukharim96</a> and <a href="https://twitter.com/undefinedbuddy">@undefinedbuddy</a>.</p>
<pre><code>&lt;h1 data-path="/welcome~another-header-or-so-you-think"&gt;another header, or so you think?&lt;/h1&gt;
</code></pre>
  
</div>
