<div id="sMXCm3jokuEs5ULK" class="content active">
  <h1 data-path="/docs/changelog~whats-new">What's New</h1>
<p>This section lists the version history relative to the latest release i.e. in a reverse chronological
order.</p>
<blockquote>
  <p>Current Documate version: 0.1.0</p>
</blockquote>
<h2 data-path="/docs/changelog~v010">v0.1.0</h2>
<p>First release! 😺 ❤️ 👍</p>
  <span hidden="true" class="highlight-langs" data-src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></span>
<span hidden="true" class="highlight-langs" data-src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></span>
</div>
