<div id="Z9JG0XPwk0CrM9VX" class="content active">
  <h1 data-path="/docs/getting-started~getting-started">Getting Started</h1>
<p>Now that you understand what Documate is and does, let's learn how it's done.</p>
<h2 data-path="/docs/getting-started~installation-cli">Installation (CLI)</h2>
<p>Since we will be dealing with simple commands like <code>init</code>, <code>serve</code> and <code>build</code>, we need a CLI tool. So with Node installed, simple run:</p>
<pre><code class="bash language-bash">&lt;h1 data-path="/docs/getting-started~using-npm"&gt;Using npm&lt;/h1&gt;
$ npm install -g documate

&lt;h1 data-path="/docs/getting-started~or-with-yarn"&gt;or with Yarn&lt;/h1&gt;
$ yarn add --global documate
</code></pre>
<h2 data-path="/docs/getting-started~creating-your-first-documate-project">Creating your first Documate project</h2>
<p>Now that you have Documate CLI installed, simple run the following commands in the root directory of your project:</p>
<pre><code class="bash language-bash">&lt;h1 data-path="/docs/getting-started~to-initialize-a-basicempty-project"&gt;To initialize a basic/empty project&lt;/h1&gt;
$ documate init

&lt;h1 data-path="/docs/getting-started~to-serve-your-docs"&gt;To serve your docs&lt;/h1&gt;
$ documate start

&lt;h1 data-path="/docs/getting-started~to-build-your-docs"&gt;To build your docs&lt;/h1&gt;
$ documate build
</code></pre>
<p>After you serve your docs, head over to <code>localhost:3000</code> to view the site.</p>
  <span hidden="true" class="highlight-langs" data-src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></span>
<span hidden="true" class="highlight-langs" data-src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></span>
</div>
