<style>
  code {
    background-color: aliceblue;
    color: #282c34;
  }
  .hero {
    background-color: #282c34;
    color: #ffffff;
    padding: 40px 0;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title {
    font-weight: bold;
    color: #61dafb;
    font-size: 42px;
  }
  .sub-title {
    max-width: 700px;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
  }
</style>

<section class="hero">
  <h1 class="title">Documate</h1>
  <p class="sub-title"
    >Edit <code>./documate/index.html</code> to change this page, and
    <code>./documate/nav.json</code> to control the navigation.</p
  >
</section>
