<h1 id="creating-your-first-project-with-documate" data-title="Creating your first project with Documate">
    <a style="background-color: transparent !important;" href="#creating-your-first-project-with-documate" aria-hidden="true" class="anchor"><svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>
    Creating your first project with Documate
  </h1><p>For this step, you just need to know of the <code>init</code> and <code>start</code> commands.</p>
<p>By now, you should have Documate CLI globally installed. If not, <a href="/docs/getting-started/installation">follow these procedures</a>. To create a new app, just run:</p>
<pre><code class="language-bash">documate init</code></pre>
<p>in the root of your project folder. This initializes the dummy pages of your docs. Before we start editing, run:</p>
<pre><code class="language-bash">documate start</code></pre>
<p>Again, from the root directory of your project.</p>
<h2 id="results" data-title="Results">
    <a style="background-color: transparent !important;" href="#results" aria-hidden="true" class="anchor"><svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>
    Results
  </h2><p>The output of this command should look something like this:</p>
<pre><code class="language-yaml">|- PROJECT ROOT DIRECTORY
|--- documate/          
|----- /docs             (Place all your docs here)
|----- /public           (Reserved for Documate &amp; Create React App activities)
|----- config.js         (Main configuration file)
|----- logo.png
|----- index.html
|----- navs.js           (Configuration for your app&#39;s topnav and sidenav)
|- package.json          (Required to be present in project root directory)</code></pre>
<p>You can now edit any of the files in the <code>/documate</code> directory. Just make sure to keep links in sync.</p>
<blockquote>
<p>Note</p>
<p>Please read the <a href="/docs/components">Components</a> section to enable Documate to render your docs properly.</p>
</blockquote>
