<h1 id="creating-your-first-project-with-documate" data-title="Creating your first project with Documate">
    <a href="#creating-your-first-project-with-documate" aria-hidden="true" class="anchor"><svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>
    Creating your first project with Documate
  </h1><p>For this step, you just need to know of the <code>init</code> and <code>start</code> commands.</p>
<h2 id="prerequisites" data-title="Prerequisites">
    <a href="#prerequisites" aria-hidden="true" class="anchor"><svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>
    Prerequisites
  </h2><p>Your app must be either:</p>
<ul>
<li>A non-ejected CRA app, or</li>
<li>An ejected CRA app with a CRA-compatible webpack configuration.</li>
</ul>
<p>To find more about CRA&#39;s ejecting rules, check <a href="https://facebook.github.io/create-react-app/docs/available-scripts#npm-run-eject">their site</a>.</p>
<p>By now, you should have Documate CLI globally installed. If not, <a href="/docs/getting-started/installation">follow these procedures</a>. To create a new app, just run:</p>
<pre><code class="language-bash">documate init</code></pre>
<p>in the root of your project folder. This initializes the dummy pages of your docs. Before we start editing, run:</p>
<pre><code class="language-bash">documate start</code></pre>
<p>Again, from the root directory of your project.</p>
