<style>
  .hero-label {
    color: #878b94;
  }
  .hero {
    background-color: #282c34;
    color: #ffffff;
    padding: 90px 0;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title {
    font-weight: bold;
    color: #61dafb;
    font-size: 42px;
    margin-bottom: 30px;
  }
  .sub-title {
    max-width: 700px;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 0 15px;
    font-weight: 300;
  }
  .features h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #6d6d6d;
    border: none;
  }
  @media only screen and (max-width: 860px) {
    .sub-title {
      font-size: 20px;
    }
  }
</style>

<section class="hero">
  <h1 class="title">Documate</h1>
  <p class="sub-title">
    Converting your Markdown-docs into a fancy React-ish site.
  </p>
  <div class="btn-links-container">
    <a class="btn-link" href="/docs/introduction">Learn More</a>
    <a class="btn-link-arrow" href="/docs/getting-started">
      Get Started
      <svg
        height="12"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 4.53657 8.69699"
      >
        <path
          d="M.18254,8.697a.18149.18149,0,0,1-.12886-.31034L4.09723,4.34126.05369.29954a.18149.18149,0,0,1,.2559-.2559L4.4838,4.21785a.18149.18149,0,0,1,0,.2559L.30958,8.648A.18149.18149,0,0,1,.18254,8.697Z"
          fill="currentColor"
        ></path>
      </svg>
    </a>
  </div>
</section>
<section class="features container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <h2>Markdown & HTML friendly</h2>
      <p>
        Documate converts your Markdown-based docs into a final HTML format that
        your end users can easily interact with. This saves you all the time to
        maintain docs. You can also <a href="/">inject custom HTML</a> wherever
        necessary.
      </p>
    </div>
    <div class="col-md-3 col-sm-12">
      <h2>React-ish style</h2>
      <p>
        Your site is made to resemble
        <a href="https://facebook.github.io/react">React's official website</a>.
        That emmersive feel when going through the docs is maintained while
        still being able to serve your docs.
      </p>
    </div>
    <div class="col-md-3 col-sm-12">
      <h2>Responsive</h2>
      <p>
        Across all viewports, Documate still maintains its UI style while
        providing a little bit more a11y-related features for different
        viewports.
      </p>
    </div>
    <div class="col-md-3 col-sm-12">
      <h2>Built with Create React App</h2>
      <p>
        Documate is built with the same tools you are familiar with. It
        currently operates on CRA v2.1.2.
      </p>
    </div>
  </div>
</section>
