<h1 id="building-your-project-39-s-docs" data-title="Building your project&#39;s docs">
    <a href="#building-your-project-39-s-docs" aria-hidden="true" class="anchor"><svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>
    Building your project&#39;s docs
  </h1><p>There are two phases to this section:</p>
<ul>
<li>Building your docs (Documate handles this)</li>
<li>Building a site out of your final HTML (transferred to webpack)</li>
</ul>
<p>To build your project&#39;s docs, run:</p>
<pre><code class="language-bash">documate build</code></pre>
<p>This creates a folder called <code>website</code> in the <code>documate</code> folder of your project&#39;s root directory. During deployment, just set the public path to <code>/documate/website</code> and your site is ready.</p>
<p>Together with what you&#39;ve learnt so far, this pretty much sums up all you need to know about Documate. If you have any issues, make sure to submit to <a href="https://github.com/bukharim96/documate/issues">Documate&#39;s issues</a> section. We are always ready to accept any contributions. Just make sure you read through <a href="/docs/contributing">the Contribution Guidelines</a> before</p>
<p>Thanks to <a href="https://twitter.com/bukharim96/">@bukharim96</a> for building the entire Documate CLI and <a href="https://twitter.com/undefinedbuddy/">@undefinedbuddy</a> for rocking the docs &amp; UI. Feel free to ask these cool guys just about anything on Documate.</p>
