<div id="HB6YuC0QSAlLsYNq" class="content active">
  <h1 id="introduction">Introduction</h1>
<p>Welcome to Documate v0.1.0. We'll run you through a brief history then show you how to create your own
professional site.</p>
<h1 id="etymology">Etymology</h1>
<pre><code class="javascript language-javascript">const x = (...args) =&gt; args.reduce(require.ensure)
</code></pre>
<h2 id="whyusethisprogram">Why use this program?</h2>
<pre><code class="javascript language-javascript">const x = run((v) =&gt; v.reduce((acc, val) =&gt; v[acc] + val--))
</code></pre>
  <span hidden="true" class="highlight-langs" data-src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/javascript.min.js"></span>
<span hidden="true" class="highlight-langs" data-src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/javascript.min.js"></span>
</div>
