<div id="LQXcz1nBgg9GFgOZ" class="content active">
  <h1 id="pkgavailability">pkg-availability</h1>
<p><small>A package availability checker for npm packages</small></p>
<p><strong>pkg-availability</strong> is a CLI too for checking npm package name availability. I wrote it as a weekend project to help easen the daunting process of searching for package names one by one on npm. With this tool, I just paste in a list of names and it does the checking. It then outputs a pretty list with details on the availability of each package name.</p>
<h3 id="installation">Installation</h3>
<p>To start using this tool, install it with npm follows:
<code>npm i -g pkg-availibity</code></p>
<p>You could also install via yarn:
<code>yarn global add pkg-availibity</code></p>
<p><em>Enjoy!</em></p>
  <span hidden="true" class="highlight-langs" data-src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/javascript.min.js"></span>
<span hidden="true" class="highlight-langs" data-src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></span>
</div>
