h2 {
  font-size: 2em;
  font-weight: 700;
  border-top: 1px solid #ececec;
  margin: 35px 0;
  padding-top: 40px;
  line-height: 1.2;
  margin-left: 0 !important;
}

ul, ol {
  line-height: 2;
}

table {
  background-color: #fff !important;
}

a {
  text-decoration: none !important;
  transition: all 0.3s;
}

a.acc-item-title {
  padding: 10px 5px;
}

a.anchor {
  padding: 0 5px;
  margin: 0;
  position: absolute;
  left: -25px;
  top: auto;
}

th {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  display: block;
}

blockquote {
  background-color: rgba(255, 229, 100, 0.3);
  border-left: 9px solid #ffe564;
  padding: 20px 45px 20px 26px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: -30px;
  margin-right: -30px;
}

blockquote > p:first-of-type {
  font-weight: bold;
  margin-bottom: 10px;
}

blockquote:last-child {
  margin-bottom: 0;
}

code {
  background: rgba(255, 229, 100, 0.2);
  color: #1a1a1a;
  padding: 0 3px;
  font-size: 0.94em;
  word-break: break-word;
}

pre {
  width: 100%;
  background: #eee;
  margin: 25px 0;
  overflow: auto;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

pre code {
  color: #333;
  background: none;
}

span.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: #333333;
  padding: 15px;
  opacity: 0.5;
  transition: opacity 0.2s;
  font-weight: bold;
}

span.copy-button svg {
  fill: white;
}

span.copy-button.copied {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  color: #282c34;
  margin: 10px;
}

#search-results {
  /* display: block !important; */
  top: 49px !important;
  left: unset !important;
}

#search-results b {
  font-weight: bold;
}

#page p {
  font-size: 17px;
  line-height: 1.7;
}

/* Button Links */

.btn-links-container {
  margin: 20px 0;
}

.btn-link {
  display: inline-block;
  font-size: 20px;
  background-color: #61dafb !important;
  color: #000000 !important;
  padding: 10px 25px;
  white-space: nowrap;
  margin: 10px;
  transition: background-color 0.2s ease-out !important;
  border: none !important;
}

.btn-link:hover {
  color: #000000 !important;
  background-color: #ffffff !important;
}

.btn-link-arrow {
  color: #61dafb !important;
  margin: 10px;
  background-color: transparent !important;
  border: none !important;
  font-size: 20px;
}

.btn-link-arrow:hover {
  color: #fff !important;
}

.btn-link-arrow svg {
  margin-left: 10px;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  padding: 0;
}

#navbar a {
  color: #ffffff;
  font-size: 14px;
  padding: 0 15px 0;
  border-radius: 50px;
  border-bottom: 3px solid transparent;
}

#navbar a:hover:not(#navbar-brand) {
  color: #61dafb;
}

#navbar a:focus:not(#navbar-brand) {
  background-color: #373940;
}

#navbar #navbar-brand {
  color: #61dafb;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar #navbar-brand:focus {
  color: #ffffff;
}

/* Links left */

.collapse.show.navbar-collapse {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#navbar-links-left a {
  padding: 5px 20px;
  border-radius: 0;
  font-size: 18px;
  font-weight: 300;
}

#navbar-links-left a:focus {
  background-color: #373940;
  color: #ffffff;
}

#navbar-links-left a:hover,
#navbar-links-left a.active {
  background-color: unset;
  color: #61dafb !important;
  border-bottom-color: #61dafb;
}

input#navbar-search {
  background: transparent;
  border: none;
  color: #ffffff;
}

input#navbar-search:focus {
  background-color: #373940;
  border-radius: 0.25rem;
  box-shadow: none;
}

#navbar-search-icon {
  display: none;
}

#search-not-found-icon {
  fill: white;
  width: 40px;
}

#not-found {
  text-align: center;
  color: white;
  margin: 20px 0;
}

/* Search results */

#search-list-header {
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 2px 15px 10px;
  color: #fff;
}

div#search-results .page-title {
  color: #9a9a9a !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 2px 15px 10px;
}

div#search-results a {
  border-radius: 0;
}

div#search-results a:focus {
  background: transparent;
  color: #61dafb;
}

div#search-results a small {
  margin-left: 10px;
}

div#search-results a span {
  font-size: 15px;
  font-weight: 300;
}

/* Sidebar */

#sidebar .accordion {
  padding-left: 0;
}

#sidebar ul li {
  margin: -4px;
}

#sidebar a {
  color: rgb(26, 26, 26);
}

#sidebar a:hover {
  color: rgb(109, 109, 109);
}

.acc-item-title {
  color: rgb(109, 109, 109) !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

/* Main */

#main-content-wrapper {
  overflow: hidden;
}

#main-content {
  min-height: calc(100vh - 49px);
}

#main-content img {
  max-width: 100%;
  margin: 1em 0;
}

#main-content a,
#page a {
  text-decoration: none;
  background-color: rgba(187, 239, 253, 0.30196078431372547);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #1a1a1a;
}

#main-content a:hover,
#page a:hover {
  background-color: #bbeffd;
  border-bottom-color: #1a1a1a;
}

#main-content ul {
  margin-left: 40px;
  margin-right: 40px;
  list-style-type: disc;
}

#main-content ol {
  margin-left: 40px;
  margin-right: 40px;
}

#main-content p {
  font-size: 17px;
  line-height: 1.7;
}

#main-content > p:first-of-type {
  font-size: 24px;
  font-weight: 300;
  color: #6d6d6d;
  margin-bottom: 50px;
}

#main-content > h1:first-of-type {
  color: #282c34;
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
  margin-bottom: 50px;
}

/* Pagination */

.pagination-link {
  font-size: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(109, 109, 109);
  transition: border-color 0.2s ease 0s;
  color: #ffffff;
}

.pagination-link:hover {
  color: #ffffff;
  border-color: #ffffff;
}

/* Footer */

.section-label {
  color: #999;
  font-size: 14px;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

#footer {
  background-color: #20232a;
  padding: 20px 0;
}

#footer ul {
  line-height: 2;
}

#footer a {
  color: #ffffff;
}

#footer a:hover {
  color: #61dafb;
}

#footer .oss-logo {
  margin: 1em auto;
  opacity: 0.4;
  transition: opacity 0.15s ease-in-out;
}

#footer .oss-logo:hover {
  opacity: 1;
}

#footer .oss-logo img {
  width: 170px;
}

.anchor {
  float: left;
  margin-left: -25px;
  background-color: transparent !important;
  border-bottom: none !important;
  position: relative;
  top: -66px;
  display: none;
}

#sidebar-fab {
  display: none;
}

div#search-results div.search-result {
  margin: 12px 0;
}

/* Override default Bootstrap mobile styles */

@media only screen and (max-width: 860px) {
  pre {
    border-radius: 0 !important;
  }

  .btn-link {
    font-size: 16px;
  }

  .accordion__arrow {
    display: none;
  }
  #navbar {
    height: 40px;
  }

  #navbar #nav-link-version,
  #navbar #nav-link-git {
    display: none !important;
  }

  #navbar ul {
    line-height: 1.6; /* Fit scrollbar to navbar bottom, yo! */
  }

  #navbar #navbar-brand {
    margin-left: 10px !important;
  }

  .navbar > .container,
  .navbar > .container-fluid {
    flex-wrap: unset;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .collapse.show.navbar-collapse {
    display: flex;
    overflow-x: auto;
  }
  #navbar-brand-title {
    display: none;
  }
  /* Avoid similar class names and ids */
  .navbar-brand {
    margin-right: 0;
  }
  #navbar-brand {
    margin-left: 0 !important;
    padding: 0 0 0 15px !important;
  }
  #navbar-links-left a {
    padding: 6px 10px;
    font-size: 15px;
  }
  #sidebar {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    z-index: -1;
    padding-top: 0 !important;
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  #sidebar.active-mobile {
    transform: translateY(0);
    z-index: 1;
    opacity: 1;
  }
  #sidebar-fab {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 44px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #20232a;
    color: #61dafb;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
  #main-content-wrapper {
    padding: 0;
  }
  #main-content {
    padding: 20px 0 0 0 !important;
  }
  #main-content > * {
    margin-left: 20px;
    margin-right: 20px;
  }
  #main-content > blockquote,
  #main-content > pre {
    margin-left: 0;
    margin-right: 0;
  }
  #main-container {
    overflow-x: hidden;
    padding: 0;
  }
  #main-content > h1:first-of-type {
    font-size: 40px;
    line-height: 45px;
  }
  #main-content > p:first-of-type {
    font-size: 18px;
  }
  #pagination .page-previous a,
  #pagination .page-next a {
    font-size: 16px;
  }
  #footer {
    padding-top: 0;
    padding-bottom: 50px;
  }
  #footer .oss-logo img {
    margin: 2em auto;
  }
  #page {
    margin-top: 40px !important;
  }
  /* !! Search */

  /* input#navbar-search {
    
  } */

  #search-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #navbar-search-icon {
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 16px;
    z-index: 1;
  }

  #search-results {
    display: none;
    top: 40px !important;
    left: -4px !important;
  }

  pre[class*="language-"] {
    padding: 1em !important;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-left: 25px !important;
  }
}
