* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 17px !important;
  color: #222831;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

p {
  line-height: 27px;
  margin: 10px 0;
}

em {
  font-style:  italic;
}

pre {
  line-height: 22px;
  font-family:  Inconsolata, Menlo, monospace;
  background-color:  #f2f2f2;
  margin: 15px 0;
  overflow: hidden;
  padding: .5em;
  overflow-x: auto;
}

pre * {
  font-weight: normal !important;
}

nav#topnav {
  height: 50px;
  width: 100%;
  max-width: unset !important;
  background-color: #222831;
  box-shadow: 0 1px 1px 1px rgba(34, 41, 50, 0.06);
  padding: 0 0 0 50px;
}

nav#topnav > div.navbar-right {
  float: right;
}

nav#topnav a {
  min-height: unset;
  height: 50px;
  border-style: solid;
  border-bottom-width: 4px;
  border-color: #222831;
  padding-top: 6px;
}

nav#topnav a:hover,
nav#topnav a:active,
nav#topnav a.active {
  border-color: #1e87f0;
}

nav#topnav #search {
  float: right;
  height: 50px;
  min-width: 50px;
  display: flex;
}

nav#topnav.search-active #search {
  width: 100%;
}

nav#topnav #search > input {
  display: none;
  background-color: #222831;
  border-style: solid;
  border-width: 0 0 4px 0;
  border-color: #222831;
  flex: 1;
  font-size: 20px;
  padding: 8px 0 0 20px;
  color: #ddd;
  width: 100px;
}

nav#topnav.search-active #search > input {
  display: flex;
}

nav#topnav.search-active #search > input:focus {
  border-color: #1e87f0;
}

nav#topnav.search-active > div.navbar-right {
  display: none;
}

nav#topnav #search > a {
  width: 50px;
  min-width: 50px;
  padding: 12px 13px;
  height: 50px;
}

nav#topnav svg:hover g {
  fill: #999 !important;
}

nav#topnav #menu-link {
  display: none;
  position: absolute;
  padding: 1px 13px !important;
  left: 0px;
  width: 50px;
  height: 50px;
}

aside#sidenav {
  width: 300px;
  padding: 20px 0;
  background-color: #f5f5f5;
  border-right: 1px solid #eceaea;
  height: calc(100vh - 50px);
  overflow-y: auto;
  position: absolute;
  z-index: 1;
}

aside#sidenav li {
  margin: 20px 0;
}

aside#sidenav li ul {
  padding-left: 15px;
}

aside#sidenav a {
  color: #777777;
  padding: 10px 10px 7px;
  width: fit-content;
  border-radius: 5px;
}

aside#sidenav > ul > li > a {
  font-weight: bold;
}

aside#sidenav a:hover,
aside#sidenav a.active {
  background-color: #eceaea;
  color: #222831;
}

main#main-content {
  background-color: #fff;
  width: calc(100% - 300px);
  padding: 40px 40px 40px;
  height: calc(100vh - 50px);
  overflow: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

main#main-content > * {
  max-width: 700px;
  margin: 0 auto;
}

main#main-content > div.content {
  display: none;
}

main#main-content > div.content.active {
  display: block;
}

@media only screen and (max-width: 850px) {
  aside#sidenav {
    transform: translateX(-100%);
    transition: transform 0.1s ease-in-out;
    box-shadow: inset -3px 0 5px 2px rgba(34, 41, 50, 0.06);
  }

  body.sidenav-active aside#sidenav {
    transform: translateX(0);
  }

  nav#topnav > div.navbar-right {
    max-width: calc( 100% - 55px) !important;
    overflow-x: auto;
  }

  main#main-content {
    width: 100% !important;
    float: left !important;
    padding: 20px;
    transition: transform 0.1s ease-in-out;
  }

  body.sidenav-active main#main-content {
    transform: translateX(300px);
  }

  main#main-content > nav#topnav {
    padding: 0;
    overflow: hidden;
  }

  nav#topnav #menu-link {
    display: inherit;
    background-color: #222831;
    box-shadow: 2px 0 17px 0px rgba(0, 0, 0, 0.72);
  }

  nav#topnav #menu-link svg {
    position: relative;
    bottom: -8px;
  }
}
